<IfModule mod_deflate.c>
AddOutputFilterByType DEFLATE text/text text/html text/plain text/xml text/css application/xml application/xhtml+xml application/rss+xml application/x-javascript application/javascript
</IfModule>

<ifModule mod_headers.c>
ExpiresActive On
# Expires after 1 month
<filesMatch ".(gif|png|jpg|jpeg|ico|pdf|js|htm|html)$">
Header set Cache-Control "max-age=2592000"
</filesMatch>
# Expires after 7 day
<filesMatch ".(css)$">
Header set Cache-Control "max-age=604800"
</filesMatch>
# Expires after 1 hour
<filesMatch ".(txt)$">
Header set Cache-Control "max-age=3600"
</filesMatch>
</ifModule>